@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;}
html, body{
    height: 100vh; /*a alt e larg máxim do navegador(100%)*/
    width: 100vw;} 
body{
    background: url(imagens/fundo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;}
main{
    position: relative;
    height: 100vh;}
#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px; 
    width: 310px;
    background: url(imagens/frame-iphone.png) no-repeat;} 
    /*centralizano asntes de tudo; colocando tamanho p aparecer a img, e importando a img*/
    /*na questão de h e w da img, é melhhor colocar num app que mede as dimensões aoinvés de ficar ajustando*/
#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 266px;
    height: 471px;
    background-size: cover;}
#rs > a > img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px black;
    box-sizing: border-box; /*isso é pra ficar estatico o hover*/} 
#rs{
    text-align: right;}
img:hover{
    border: 2px solid rgba(255, 255, 255, 0.756);
    transform: translate(-3px, -3px); /*pra mexer p lado*/
    transition: transform 0.3s;}

    